@{
    ViewData["Title"] = "Dashboard Cliente";
}

<h2>Bienvenidos a Dashboard Cliente</h2>
<p>Página principal</p>

<form asp-controller="Account" asp-action="Logout" method="post">
    <button type="submit" class="btn btn-danger mt-2">Cerrar Sesión</button>
</form>