@{
    ViewData["Title"] = "Dashboar Cajero";
}

<h2>Bienvenidos Dashboard Cajero</h2>
<p>Página principal</p>

<form asp-controller="Account" asp-action="Logout" method="post">
    <button type="submit" class="btn btn-danger mt-2">Cerrar Sesión</button>
</form>